<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CrossWalk Searcher</title>
  <!-- <link rel="stylesheet" href="crosswalk.css"> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/crosswalk.css') }}">

</head>
<body>
  <header>
    <h1>CrossWalk Searcher</h1>
    <nav>
      <ul>
        <li><a href="index.html">Autocoder</a></li>
        <li><a href="crosswalk.html" class="active">Crosswalk</a></li>
        <li><a href="batched_autocoding.html">Batched Autocoding</a></li>
        <li><a href="information.html">Information</a></li>
      </ul>
    </nav>
  </header>

  <main>
    The Crosswalk Searcher is to compare outputs from different autocoders. Select two coding systems to crosswalk and provide the job title, education level, and industry. This allows you to analyze how different autocoders categorize occupations, providing insights into their strengths and weaknesses.</p>
    
      <h2 for="keyInput">Bashed Input:</h2>  
      <form id="crosswalkForm">
        <input type="file" name="crosswalkcsv_file" required>
        <br>
        <label id="crosswalkdata" style="color:green;"></label>
        <br>
        <button type="button" onclick="downloadCrosswalk()">Upload and Download Crosswalked Results</button>
      </form>
      
      <br>


  <!-- ===================================== -->
  <!--        Interactive Crosswalk          -->
  <!-- ===================================== -->
      <h2 for="keyInput">Interactive Input:</h2>
      <form id="crosswalkForm" action="http://127.0.0.1:8989/getoptions" method="post">
      <label><input type="checkbox" name="codingSystem" value="onet2soc"> O*NET to SOC2018</label>
      <label><input type="checkbox" name="codingSystem" value="soc2cen"> SOC2018 to Census2018</label>
      
      <input type="text" name="codingInput" id="interactivekeyInput">

      <button type="submit">Crosswalk</button>
      </form>
      
      <div id="interactiveOutput"></div>

      <!-- <script src="crosswalk.js"></script> -->

      
      

      <!-- ONET to SOC -->
      <!-- <input type="text" id="keyInput"> -->
      
      <!-- <button id="crosswalkInteractive">Crosswalk</button> -->
      
      <!-- <br> -->
      <!-- <label for="Output">Output:</label> -->
      <!-- <label id="interactiveOutput"></label> -->
      <script src="{{ url_for('static', filename='crosswalk.js') }}"></script>
      <!-- SOC to Census -->


  </main>

  <footer>
    <p>&copy; Autocoder CrossWalking</p>
  </footer>

  <!-- <script>
    const checkboxes = document.querySelectorAll('input[type="checkbox"]');
    checkboxes.forEach(checkbox => {
      checkbox.addEventListener('change', () => {
        let checkedCount = 0;
        checkboxes.forEach(cb => {
          if (cb.checked) checkedCount++;
        });
        if (checkedCount > 2) {
          checkbox.checked = false;
        }
      });
    });
  </script> -->
</body>
</html>
